.intro {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
}

.typed {
  width: 50%;
  height: 100%;
}

#tsparticles {
  width: 50%;
  height: 95vh;
}

.tsparticles-canvas-el {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column !important;
  }
  .typed {
    width: 100%;
    height: 30%;
  }

  #tsparticles {
    width: 100%;
    height: 70%;
  }
}
